.navbar{
    padding: 2px 1rem;
}
#mainNav .navbar-collapse .navbar-nav.sidebar-nav{
    margin-top: 42px !important;
}
#mainNav .navbar-collapse .navbar-nav.sidebar-nav{
    font-size: 15px;
}
#mainNav .navbar-collapse .navbar-nav.sidebar-nav i{
    margin-right: 5px
}
#mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level, #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level{
    font-size: 13px;
}
body,input,select,textarea{
    font-size: 14px;
}
.form-control{
    font-size: 14px;
}
.cus-select{
    height: 35px !important;
}
.form-group{
    margin-bottom: 7px;
}
body{
    background: white !important;
}
#mainNav .navbar-collapse .navbar-nav.sidebar-nav{
    bottom: 0;
}
#mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level, #mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-third-level{
    padding-bottom: 10px;
    background:#464a4c !important;
    padding-top: 10px;
    color: white !important;
}

#mainNav .navbar-collapse .navbar-nav.sidebar-nav li.active>a.child>i{
    color: chartreuse;
}

.login_wrap{
    background: fixed;
    background: url("../images/login_bg.jpg");
    background-size: cover;
    height: 100vh;
    filter: grayscale(50%);
}
.form_lg{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background: rgb(0 0 0 / 48%);
    box-shadow: 0 0 12px 2px #7a5c4d;
    border-radius: 6px;
    height: 350px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: white;
}
.form_lg form{
    width: 80%;
}
.navbar-inverse .navbar-nav .nav-link,#mainNav .navbar-collapse .navbar-nav.sidebar-nav > .nav-item .sidebar-second-level > li > a{
    color: white;
}

#mainNav .navbar-collapse .navbar-nav.sidebar-nav .nav-link-collapse:after{
    color: white !important;
    font-size: 16px;
}